[Desktop Entry]
Encoding=UTF-8
Name=Enlace hacia C++ Logo png transparent
Type=Link
URL=https://cdn.freebiesupply.com/logos/large/2x/c-logo-png-transparent.png
Icon=image-png
